
.wrap{
	margin:  0 auto;
	padding: 0 auto;
	height: 1250px;
	
	background-size: cover;
	background-repeat:no-repeat;
}

#div_loginbar{
	
	text-align:right;
	color :;
	height:30px;
	margin:0 auto;
	padding-top:5px;
}

.register_form{
margin: 0 auto;
width :150px;


}

#header{
	text-align:center;
	font-size : 35px;

	height:135px;
	color :;
	background-color:;
}

#footer{
	height:100px;
	background-color: ;
	color : white;	
	text-align : center;
}

.content_wrap{
	height:930px;
	width: 90%;
	background-color: ;
	margin: 0 auto;
	text-color :
}

#menu{
	height: 100%;
	width: 10%;
	float: left;
	background-color:;
	margin: 0 auto;
	margin-left: 7%;
}

#content{
	height: 100%;
	width: 70%;
	background-color:;
	float:left;
	
	color : ;
	margin: 5px  auto;
	margin-right: 3%;
	
}

#main{
	height: 80%;
	width: 60%;
	float:left;
	background-image: url("../img/main.jpg");
	background-size: cover;
	margin: 5px  auto;
	margin-right: 5%;
}
h1{
	text-align:center;
	color : black;
}
h2{
	text-align:center;
	color : black ;
}
h4{
	color : black;
}

#h1_header{

	text-align:center;
	display: inline-block;
}
#h4_header{

	
	display: inline-block;
}

li{
	height:50px;
	text-align:left;
}

a, a:link{
	text-decoration: none;
	color:;
}




input{
	button-align:right
}

#login_form{
	display: inline-block;
}
.loginbar_btn{
	display: inline-block;
}

